In [1]:
money = 3000

In [5]:
if money >= 8000:
    print('ディズニーランドに行きます')
elif money >= 2000:
    print('映画館にいきます')
else:        
    print('どこにもいきません')

どこにもいきません

In [6]:
names = ['今西', '砂糖', 'スズキ', '高橋', '川上' ]

In [8]:
for i in range(5):
    print(names[i]+'さん')

今西さん
砂糖さん
スズキさん
高橋さん
川上さん

In [10]:
for i in range(len(names)):
    print(names[i]+'さん')

今西さん
砂糖さん
スズキさん
高橋さん
川上さん

In [12]:
for name in names:
    print(name +'さん')

今西さん
砂糖さん
スズキさん
高橋さん
川上さん

In [13]:
last_names = ['今西', '砂糖', 'スズキ', '高橋', '川上' ]
first_names = ['こうへい', 'けんさく', 'こうじ', 'こうすけ', '川上' ]

In [16]:
for last_name, first_name in zip(last_names, first_names):
    print(last_name + first_name + 'さん')

今西こうへいさん
砂糖けんさくさん
スズキこうじさん
高橋こうすけさん
川上川上さん

In [20]:
for i, last_name in enumerate(last_names):
    print('出席番号',i,'番目の' + last_name + 'さん')

出席番号 0 番目の今西さん
出席番号 1 番目の砂糖さん
出席番号 2 番目のスズキさん
出席番号 3 番目の高橋さん
出席番号 4 番目の川上さん

In [21]:
for i, last_name in enumerate(last_names):
    print(f'出席番号{i}番目の{last_name}さん')

出席番号0番目の今西さん
出席番号1番目の砂糖さん
出席番号2番目のスズキさん
出席番号3番目の高橋さん
出席番号4番目の川上さん

In [23]:
for i in range(10):
    if i ==7:
        break
    print(i)

0
1
2
3
4
5
6

In [24]:
for i in range(10):
    if i ==7:
        continue
    print(i)

0
1
2
3
4
5
6
8
9

In [25]:
def say_hello():
    print('みなさん、こんにちは')

In [26]:
say_hello()

みなさん、こんにちは

In [27]:
def say_hello2(name):
    print(f'{name}さん、こんにちは')

In [29]:
say_hello2(name='今西')

今西さん、こんにちは

In [30]:
# def calc_square(side):
#     print(side * side)

In [32]:
# result = calc_square(side=10)

100

In [40]:
def calc_square(side):
    return side * side

In [42]:
result = calc_square(side=10)

In [43]:
result

100

In [44]:
def calc_tri(base, height):
    return base * height * 0.5

In [45]:
calc_tri(base=100, height=20)

1000.0

In [71]:
class Person:
    #初期設定
    def __init__(self, name, nationality, age):
        self.name = name
        self.nationality = nationality
        self.age = age
        
    def __call__(self, name):
        print(f"{name}さん、こんにちは。私は{self.name}です。call関数から呼び出されています。")
        
    def say_hello(self, name):
        print(f"{name}さん、こんにちは。私は{self.name}です。")

In [72]:
imanishi = Person(name='今西', nationality='日本', age=26)

In [73]:
imanishi

In [66]:
mike = Person(name='マイク', nationality='アメリカ', age=23)

In [67]:
mike.age

23

In [68]:
imanishi.say_hello(name='佐藤')

佐藤さん、こんにちは。私は今西です。

In [59]:
mike.say_hello('スズキ')

TypeError: say_hello() takes 1 positional argument but 2 were given

TypeError: say_hello() got an unexpected keyword argument 'name'

In [74]:
imanishi(name='砂糖')

砂糖さん、こんにちは。私は今西です。call関数から呼び出されています。

In [75]:
import datetime

In [79]:
today = datetime.date.today()

In [77]:
datetime.datetime.now()

datetime.datetime(2021, 5, 10, 14, 39, 35, 583226)

In [80]:
today.day

10

In [81]:
today.month

5

In [83]:
today.year

2021

In [84]:
today -datetime.timedelta(days=1)

datetime.date(2021, 5, 9)

In [85]:
print(today)

2021-05-10

In [86]:
today.strftime('%Y年%m月%d日')

'2021年05月10日'

In [87]:
today.strftime('%Y/%m/%d')

'2021/05/10'

In [88]:
!pip3 install pandas

Requirement already satisfied: pandas in /Users/do/.pyenv/versions/anaconda3-2019.10/lib/python3.7/site-packages (1.2.4)
Requirement already satisfied: numpy>=1.16.5 in /Users/do/.pyenv/versions/anaconda3-2019.10/lib/python3.7/site-packages (from pandas) (1.20.2)
Requirement already satisfied: pytz>=2017.3 in /Users/do/.pyenv/versions/anaconda3-2019.10/lib/python3.7/site-packages (from pandas) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/do/.pyenv/versions/anaconda3-2019.10/lib/python3.7/site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /Users/do/.pyenv/versions/anaconda3-2019.10/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [89]:
import pandas as pd

In [92]:
df = pd.DataFrame([
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
])

In [93]:
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9